{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
              <h1 class="card-title text-center">MPESA {{statement.month}}</h1>
            </div>
          </div>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card border-success mb-3">
          <div class="card-body text-success">
            <h4 class="card-title text-center" text-center>Transactions</h4>
            <div id="donutchart"></div>
            <p class="card-text">Breakdown</p>
            <table class="table">
                <thead class="black white-text">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Transaction</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Sent</td>
                    <td>{{sent}}</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Received</td>
                    <td>{{received}}</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Deposited</td>
                    <td>{{deposited}}</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Withdrawn</td>
                    <td>{{withdrawn}}</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Pay Bill</td>
                    <td>{{paybill}}</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>Buy Goods</td>
                    <td>{{buy_goods}}</td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>Others</td>
                    <td>{{others}}</td>
                  </tr>
                </tbody>
              </table>
          
              
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card border-success mb-3">
          <div class="card-body text-success">
            <h4 class="card-title text-center">Usage</h4>
            <div id="donutchart_main"></div>
            <p class="card-text">Breakdown</p>
            <table class="table">
                <thead class="black white-text">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Transaction</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Airtime</td>
                    <td>{{airtime}}</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Food</td>
                    <td>{{food}}</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Supermarket</td>
                    <td>{{sup}}</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Uncategorized</td>
                    <td>{{uncat}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
    </div>  
  </div>
  <div class="row">
      <div class="col-md-6">
        <div class="card border-success mb-3">
            <div class="card-body text-success">
              <h4 class="card-title text-center" >Withdrawals</h4>
              <div id="donutchart1"></div>
              <p class="card-text">You made {{withdrawals}} withdrawals in the month of {{statement.month}}</p>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card border-success mb-3">
            <div class="card-body text-success">
              <h4 class="card-title text-center">Payments</h4>
              <div id="donutchart2"></div>
              <p class="card-text">You made {{payments}} payments in the month of {{statement.month}}</p>
            </div>
        </div>
      </div>  
    </div>
</div>>

{% endblock %}

{% block scripts %}
{{block.super}}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Payment', 'Amount'],
          ['Airtime',     ({{airtime}}) ],
          ['Food',      ({{food}}) ],
          ['Supermarket',  ({{sup}}) ],
          ['Uncategorized', ({{uncat}}) ],
        ]);

        var options = {
          title: '{{statement.month}} Transactions',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart_main'));
        chart.draw(data, options);
      }
</script>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Payment', 'Amount'],
          ['Sent',     ({{sent}}) ],
          ['Received',      ({{received}}) ],
          ['Deposited',  ({{deposited}}) ],
          ['Withdrawn', ({{withdrawn}}) ],
          ['Pay Bill',    ({{paybill}}) ],
          ['Buy Goods',      ({{buy_goods}}) ],
          ['Others',  ({{others}}) ],
        ]);

        var options = {
          title: '{{statement.month}} Usage',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
</script>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Payment', 'Amount'],
          ['Total Withdrawn',     ({{withdrawn2}})],
          ['Charges',      ({{charges_w}})],
        ]);

        var options = {
          title: '{{statement.month}} Withdrawals',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart1'));
        chart.draw(data, options);
      }
</script>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Payment', 'Amount'],
          ['Paid out',     ({{payments}})],
          ['Charges',      ({{charges_p}})],
        ]);

        var options = {
          title: '{{statement.month}} Payments',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart2'));
        chart.draw(data, options);
      }
</script>
 
{% endblock %}